/*Start Global*/
.section-padding
{
    padding-top: 40px;
}

.spacing
{
    margin-bottom: 20px;
}

a:hover, a:focus
{
    text-decoration: none !important;
}

/* End Global */
/* Start nav-bar */
nav
{
    padding: 0 30px;
}
nav ul a:hover, nav .brand-logo:hover, nav .brand-logo:focus
{
    text-decoration: none;
    color: inherit;
}

nav .dropdown-content li > a, .dropdown-content li > span
{
    font-size: 15px;
}

/* End nav-bar */